
Create React App/our_own_app/package.json
Create React App/our_own_app/package-lock.json
Create React App/our_own_app/public/favicon.ico
Create React App/our_own_app/public/index.html
Create React App/our_own_app/public/logo512.png
Create React App/our_own_app/public/logo192.png
Create React App/our_own_app/public/manifest.json
Create React App/our_own_app/public/robots.txt
Create React App/our_own_app/README.md
Create React App/EXERCISE-Fruits Modules/package-lock.json
Create React App/EXERCISE-Fruits Modules/package.json
Create React App/EXERCISE-Fruits Modules/public/favicon.ico
Create React App/EXERCISE-Fruits Modules/public/index.html
Create React App/EXERCISE-Fruits Modules/public/logo192.png
Create React App/EXERCISE-Fruits Modules/public/logo512.png
Create React App/EXERCISE-Fruits Modules/public/manifest.json
Create React App/EXERCISE-Fruits Modules/public/robots.txt
Create React App/EXERCISE-Fruits Modules/README.md
